@font-face {
  font-family: 'MyWebFont';
  src: url('SelznickRemixNF.eot'); /* IE9 Compat Modes */
  src: url('SelznickRemixNF.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('SelznickRemixNF.woff2') format('woff2'), /* Super Modern Browsers */
       url('SelznickRemixNF.woff') format('woff'), /* Pretty Modern Browsers */
       url('SelznickRemixNF.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('SelznickRemixNF.svg#SelznickRemixNF') format('svg'); /* Legacy iOS */
}


h1 {
  font-family: 'MyWebFont', Fallback, sans-serif;
}





/* foundation/reset  foundation/reset  foundation/reset */
html {
	margin: 0;
	padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
	}

body {
    margin: 0;
    font: 16px/1 sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
    margin: 0;
    padding: 0;
}
main,
li {
    display: block;
}
h1,
h2,
h3,
h4 {
    font-size: inherit;
}
strong {
    font-weight: bold;
}
a,
button {
    color: inherit;
    transition: .3s;
}
a {
    text-decoration: none;
}
button {
    overflow: visible;
    border: 0;
    font: inherit;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
    background: none;
    cursor: pointer;
}
::-moz-focus-inner {
    padding: 0;
    border: 0;
}
:focus {
    outline: 0;
}
img {
    max-width: 100%;
    height: auto;
    border: 0;
}
/*Start CSS*/

/* Basic Elements */
a:link {
	font-weight: bold;
	text-decoration: none;
	color: #250033;
}
a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #DC4DDC;
}
a:hover, a:focus, a:active {
	text-decoration: underline;
}
abbr {
	border-bottom: none;
}
/* foundation/reset  foundation/reset  foundation/reset */



/* specific divs */
body {
    background: url(plus_ultra_timeline_v15.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.page-wrapper { 
/* 	background-color: lightblue;  */
	padding: 0 175px 0 110px;  
	margin: 0; 
	position: relative;
	}


/* Intro  Intro  Intro  Intro  Intro  Intro */
.intro { /*part of intro*/
	background-color: rgba(154, 171, 241, 0.3);
	width: 100%;
	}
header {	/*part of intro*/
/* 	background-color: lightpink; */
	padding-top: 20px;
	width: 30%
	height: 87px;
}
header h1 { /*part of intro*/
/* 	background-color: grey; */
	text-align: center;
	width: 100%
	}

.we-help { /*part of intro*/
/* 	background-color: cornflowerblue; */
	margin-top: 58px; 
	margin-bottom: 40px; 
	width: 45%; 
	}
.we-save { /*part of intro*/
/* 	background-color: cornflowerblue; */
	margin-top: 58px; 
	margin-bottom: 40px; 
	margin-left: 100px;
	width: 45%; 
	}
.not-money { /*part of intro*/
/* 	background-color: cornflowerblue; */
	margin-top: 58px; 
	margin-bottom: 10px; 
	margin-left: 555px;
	width: 45%; 
	padding: 10px;
	}
.summary {	/*part of intro*/
	background-color: red;
	clear: both; 
	margin: 20px 20px 20px 10px; 
	width: 80%; 
	}
.summary p {	/*part of intro*/
	font: italic 1.1em/2.2 georgia; 
	text-align: center;
	}

.preamble {	/*part of intro*/
	background-color: darkseagreen;
	clear: right; 
	padding: 0px 10px 0 10px;
	}
/* Intro  Intro  Intro  Intro  Intro  Intro */

.header-buttons {
	color: white;
	vertical-align: text-bottom;
	background-color: rgba(15, 13, 17, 0.8);
    width: 100%;
    min-height: 5vh;
    position: absolute;
    left: 0;
}
.header-buttons p {
	margin-left: 60%;
}
/* main supporting main supporting main supporting main supporting */

.supporting {
	width: 100%
	display: -webkit-flex;
    display: flex;
	background-color: rgba(154, 171, 241, 0.5);
	padding-left: 10px; 
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-bottom: 40px;
	margin-top: 80px;
	}
	
.participation {
/* 	background-color: rgba(142, 119, 121, 0.4); */
	width: 50%;
}
.buttons {
	margin: 20px;
}
.video {
	background-color: rgba(15, 13, 17, 0.8);
	width: 50%;
}
	
/* main supporting main supporting main supporting main supporting */
/* body copy  body copy  body copy  body copy  body copy  body copy */
.bod {
	width: 100%
	display: -webkit-flex;
    display: flex;
}
.body-copy {
	background-color: rgba(154, 171, 241, 0.5);
	padding: 1rem;
	width: 50%;
	margin-left: -5rem;
}
.dontsign {
	background-color: rgba(154, 171, 241, 0.5);
	width: 30%;
	height: 2rem;
	margin-left: 5rem;
}

/* body copy  body copy  body copy  body copy  body copy  body copy */

/* footer  footer  footer  footer  footer  footer  footer */



footer {
	background-color: rgba(154, 171, 241, 0.5); 
}

.testimonials { 
	width: 100%
	display: -webkit-flex;
    display: flex;
	background-color: rgba(154, 171, 241, 0.5); 
	}
.forbes { 
	width: 30%
	}
.united { 
	width: 30%
	}
.nbc { 
	width: 30%
	}
/* footer  footer  footer  footer  footer  footer  footer */


/* sidebar  sidebar  sidebar  sidebar  sidebar  sidebar */
.sidebar:hover{
	width: 200px;
}
.select:before{
	content: "Samples here";
	width: 600px;
/* 	margin-left: 12rem; */
	position: absolute;
	right: 1rem;
}

.sidebar{
    background: clear;
    position: fixed;
    top: 50%;
    right: 0px;
    width: 20px;
    transition: 3s width;
    transition-property: width;
    transition-duration: 3s;
    transition-timing-function: initial;
    transition-delay: initial;
}


	

/* sidebar  sidebar  sidebar  sidebar  sidebar  sidebar */

